<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
   .allproducts{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);

    
   }
   .img{
    width: 50%;
   }
</style>
<body>
    <!-- <table >
        <th class="content">
            <td class="title">Title</td>
            <td>Description</td>
            <td>Price</td>
            <td>product Details</td>
        </th>
       
        {% for product in products %}
        <tr >
            <td class="tit">{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><a href="{% url 'product_detail'  id=product.id%}">view</a></td>

        </tr>
        {% endfor %}
    </table> -->
    <div class="allproducts">
        {% for product in products %}
            <div class="product-container">
                <img src="{{product.image.url}}" class="img"/>
                <h1 class="product-name">{{ product.name }}</h1>
                <!-- <h4 class="product-description">{{ product.description }}</h4> -->
                <!-- <h4 class="product-price">{{ product.price }}</h4> -->
                 <a href="{% url 'product_detail' id=product.id %}">View Details</a>
                 <a href="{%url'product-edit'id=product.id %}">Edit Product</a>
            </div>
        {% endfor %}
    </div>
   
    
</body>
</html>